
body {
    font-family: Arial, Helvetica, sans-serif;
}

#seed {
    zoom: 0.8;
    font-size: smaller;
}

#pieces {
    display: flex;
    padding: 22px;
    padding-top: 10px;
}

#next_button {
    zoom: 2;
}

#piece {
    margin-top: 20px;
    border-style: dashed;
    border-width: 1px;
    cursor: pointer;
}

#history {
    cursor: pointer;
}

#queue_container {    
    margin-left: 50px;
    font-size: small;
}

#queue {
    border-style: ridge;
    padding: 2px;
}

#queue_selector {
    zoom: 0.5;
    display: flexbox;    
    padding-bottom: 2px;
}

#queue_pieces button {
    display: block;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.grid {
    padding: 5px;
    min-width: max-content;
}

.block {
    display: inline-block;
    border-style: outset;
    border-width: medium;
    width: 15px;
    height: 15px;
}

/* piece colors */
.I {
    background-color: #00F0F0;
    border-color: #00F0F0;
}
.O {
    background-color: #F0F000;
    border-color: #F0F000;
}
.T {
    background-color: #A000F0;
    border-color: #A000F0;
}
.S {
    background-color: #00F000;
    border-color: #00F000;
}
.Z {
    background-color: #F00000;
    border-color: #F00000;
}
.J {
    background-color: #0000F0;
    border-color: #0000F0;
}
.L {
    background-color: #F0A000;
    border-color: #F0A000;
}
